{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
<div class="d-flex justify-content-center  alert  container text-white badge-pill bg-secondary align-text-bottom ">
    <b>Edit Entry - {{ title }}</b>
</div>
{% if alert %} 
<div class="d-flex justify-content-center alert  container text-white badge-pill bg-danger align-text-bottom ">
    ERROR: {{ alert }}
</div>
{% endif %}

    <div class="form-group container rounded">
        <form action="{% url 'encyclopedia:editentrypage2' title=title %}" method="POST">
        {% for field in form.visible_fields %}
    <div class="card-body bg alert-secondary mb-0 text-dark lh-100 rounded">
        <div>{{ field.errors}}</div>
        <div>{{ field.label_tag }} </div>
        <div> {{ field }} </div>
        
    </div>
    <br>
        {% endfor %}
        {{ form.non_field_errors }}
        {{ form.title.errors }}
        <div> {{ form.title }} </div>
{% csrf_token %}
<div class="card-body bg alert-secondary mb-0 text-white lh-100 rounded">   
        <button type="submit" style="font-weight: bold" class="text-white btn btn-secondary mb-2">Submit</button>
    </div>
    </form>
</div>   
  

{% endblock %}